<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <form action="" method="POST" id="myForm">
        <input name="name" type="text"><br>
        <input name="email" type="text"><br>
        <select name="subject">
            <option value="t1"> 
                Łosoś
            </option>

            <option value="t2">
                świeże Ryby
            </option>
        </select><br>
        <textarea name="message_content"></textarea><br>
        <button>Złososiuj</button>
    </form>
    <script type="application/javascript" src="static/form.js"></script>
</body>
</html>